.unstyled {
    color: unset;
}

.unstyled:hover {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.dataset-card {
    position: relative;
    display: flex;
    align-items: center;
}

.dataset-card .card-logo {
    flex: 0 0 100px;
    display: inline-block;
    position: relative;
    background: white;
    border: 1px solid #f9f9f9;
}

.dataset-card .card-logo img {
    max-width: 100%;
}

.dataset-card .card-logo .logo-badge {
    position: absolute;
    top: -9px;
    left: -9px;
}

.dataset-card .card-logo .logo-badge svg {
    width: 24px;
    height: 24px;
}

.dataset-card .card-data {
    flex-grow: 1;
    position: relative;
    margin: 0 1rem;
}
.dataset-card .card-data h4 {
    margin-bottom: 0;
}

.dataset-card .card-data .card-footer {
    margin-top: 0.5rem;
}

.dataset-card .card-data .card-footer ul {
    display: flex;
    font-size: 0.875rem;
}

.dataset-card .card-data .card-footer ul li {
    color: #7c7c7c;
}

.dataset-card .card-data .card-footer ul li + li {
    margin-left: 15px;
}

.dataset-card.dataset-search-result {
    padding: 0 0.5rem;
    border-top: 1px solid #eeeee8;
}

.dataset-card.dataset-search-result > * {
    padding: 1rem 0;
}

.dataset-card.dataset-search-result .card-title {
    font-weight: 600;
    line-height: 1.35;
}

.dataset-card.dataset-search-result .card-logo {
    padding: 0.5rem 0.5rem;
    margin: 0.25rem 0;
}

.dataset-card.dataset-search-result .card-hover {
    flex-basis: 260px;
    flex-shrink: 0;
    visibility: hidden;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem 0.25rem;
    border-left: 1px solid #eeeee8;
}

.dataset-card.dataset-search-result .card-hover > div {
    flex-basis: 50%;
    flex-grow: 1;
    text-align: right;

    margin-bottom: 0.75rem;
    padding: 0 0.5rem;

    color: #7c7c7c;
    font-size: 0.75rem;
}

.dataset-card.dataset-search-result .card-hover > div dd {
    font-weight: 600;
}

.dataset-card.dataset-search-result:hover {
    background: #eef9ff;
}
.dataset-card.dataset-search-result:hover .card-hover {
    visibility: visible;
}

.dataset-card.dataset-search-result .card-footer {
    align-self: stretch;
    border-left: 1px solid #eeeee8;

    flex-basis: 140px;
    flex-shrink: 0;

    text-align: right;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #7c7c7c;
    font-size: 0.75rem;
}

.dataset-card.dataset-search-result:after {
    display: none;
}

@media screen and (max-width: 760px) {
    .dataset-card .card-logo {
        max-width: 140px;
    }
}

@media screen and (max-width: 960px) {
    .dataset-card.dataset-search-result {
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .dataset-card.dataset-search-result .card-data {
        flex-basis: 0;
        padding-bottom: 0;
    }
    .dataset-card.dataset-search-result .card-logo {
        padding-top: 1rem;
    }
    .dataset-card.dataset-search-result .card-hover {
        display: none;
    }

    .dataset-card.dataset-search-result .card-footer {
        min-width: 100%;
        border-left: none;

        padding: 0.5rem;
        padding-left: 112px;

        flex-direction: row;
        justify-content: space-between;
    }
}