<!doctype html>
<html lang="fr" data-fr-theme="default">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dsfr.min.css')}}">

    <link rel="apple-touch-icon" href="favicons/apple-touch-icon.png">
    <link rel="icon" href="favicons/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="favicons/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="favicons/manifest.webmanifest" crossorigin="use-credentials">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Recherche - DGF</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
          <div class="fr-container">
            <div class="fr-header__body-row">
              <div class="fr-header__brand fr-enlarge-link">
                <div class="fr-header__brand-top">
                  <div class="fr-header__logo">
                    <a href="/" title="Accueil">
                      <p class="fr-logo">République<br>française</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="fr-header__service">
                <a href="/" title="Support">
                    <p class="fr-header__service-title">Recherche data.gouv.fr</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
    <main class="flex-1">
      <div class="md:max-w-screen-lg mx-auto mt-16">
          <form action="" method="get" novalidate>
              {{ form.hidden_tag() }}
              <div class="fr-search-bar" id="header-search" role="search">
                  {{ form.query.label(class_="fr-label") }}
                  {{ form.query }}
                  {% for error in form.query.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <button class="fr-btn" title="Rechercher" type="submit">
                      Rechercher
                  </button>
              </div>
          </form>
      </div>
        <div class="md:max-w-screen-lg mx-auto mt-16">
            {% if results %}
            <h2>{{results_number}} résultats sur {{total_pages}} pages</h2>
            {% endif %}
            {% for result in results %}
            <div class="fr-card fr-enlarge-link mb-8">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ result.url }}" class="fr-card__link">{{ result.title }}</a>
                    </h4>
                    <p class="fr-card__desc">{{ result.description }}</p>
                    <p class="fr-card__detail">{{ result.organization_name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if next_url or prev_url %}
        <nav role="navigation" class="fr-pagination" aria-label="Pagination">
            <ul class="fr-pagination__list justify-center">
                <li>
                    <a class="fr-pagination__link fr-pagination__link--first" href="{{ first_url or '#' }}">
                        Première page
                    </a>
                </li>
                <li>
                    <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="{{ prev_url or '#' }}">
                        Page précédente
                    </a>
                </li>
                <li>
                    <a class="fr-pagination__link" aria-current="page" title="Page">
                        {{ page }}
                    </a>
                </li>
                <li>
                    <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="{{ next_url }}">
                        Page suivante
                    </a>
                </li>
                <li>
                    <a class="fr-pagination__link fr-pagination__link--last" href="{{ last_url }}">
                        Dernière page
                    </a>
                </li>
            </ul>
        </nav>
        {% endif %}
    </main>
      <footer class="fr-footer" role="contentinfo" id="footer">
        <div class="fr-container">
            <div class="fr-footer__body">
                <div class="fr-footer__brand fr-enlarge-link">
                    <a href="/" title="Retour à l’accueil">
                        <p class="fr-logo" title="république française">
                            république
                            <br>française
                        </p>
                    </a>
                </div>
                <div class="fr-footer__content">
                    <ul class="fr-footer__content-list">
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://www.etalab.gouv.fr/">Etalab.gouv.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://gouvernement.fr">Gouvernement.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://service-public.fr">Service-public.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://data.gouv.fr">Data.gouv.fr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" nomodule src="{{url_for('static', filename='js/dsfr.nomodule.min.js')}}"></script>
  </body>
</html>
