<!doctype html>
<html lang="fr" data-fr-theme="default">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/dsfr.css">
    <link rel="stylesheet" href="css/index.css">

    <link rel="apple-touch-icon" href="favicons/apple-touch-icon.png">
    <link rel="icon" href="favicons/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="favicons/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="favicons/manifest.webmanifest" crossorigin="use-credentials">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Recherche - DGF</title>
    <style>
    html *
    {
        font-family: Marianne;
    }
    </style>
</head>
<body class="flex flex-col min-h-screen">
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <a href="/" title="Accueil">
                                <p class="fr-logo">République<br>française</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="fr-header__service">
                    <a href="/" title="Support">
                        <img src="svg/logotype.svg" alt="datagouv.fr"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="fr-follow">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <div class="fr-follow__newsletter">
                    <div>
                        <h5 class="fr-h5 fr-follow__title">Bienvenue sur le prototype du nouveau moteur de recherche de data.gouv.fr</h5>
                        <p class="fr-text--sm fr-follow__desc">Ce site a pour vocation de vous permettre de tester un nouvel algorithme de recherche.</p>
                    </div>
                    <div>
                        <button class="fr-btn" title="Dites-nous ce que vous en avez pensé" type="button">
                            <a href="https://app.evalandgo.com/s/index.php?id=JTk5bCU5M2klOTglQUI%3D&a=JTk3cCU5M2glOTklQUU%3D">
                                Dites-nous ce que vous en avez pensé
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="flex-1 fr-container">
    <div class="mt-16">
        <form action="" method="GET">
            <div class="fr-search-bar" id="header-search" role="search">
                <label class="fr-label" for="query">Rechercher</label>
                <input type="search" id="query" name="query"
                       placeholder="Rechercher"
                       class="fr-input"
                       hx-get="/"
                       hx-trigger="keyup changed delay:250ms"
                       hx-target="#search-results"
                       hx-push-url="true"
                       value="{{ '' if not query_text else query_text }}"
                       required
                >
                <button class="fr-btn" title="Rechercher" type="submit">
                    Rechercher
                </button>
            </div>
        </form>
    </div>
    <div id="search-results">
        {% if query_text %}
        {{ render_partial(
            'partials/results.html',
            results=results,
            results_number=results_number,
            total_pages=total_pages,
            page=page,
            first_url=first_url,
            next_url=next_url,
            prev_url=prev_url,
            last_url=last_url,
        ) }}
        {% endif %}
    </div>
</main>
<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="/" title="Retour à l’accueil">
                    <p class="fr-logo" title="république française">
                        république
                        <br>française
                    </p>
                </a>
            </div>
            <div class="fr-footer__content">
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://www.etalab.gouv.fr/">Etalab.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://gouvernement.fr">Gouvernement.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://service-public.fr">Service-public.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://data.gouv.fr">Data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{{url_for('static', filename='js/htmx/htmx.min.js')}}"></script>
<script type="text/javascript" nomodule src="{{url_for('static', filename='js/dsfr.nomodule.min.js')}}"></script>
</body>
</html>
